.carousel-inner{
    width: 100%;
    height: 100vh;
}
.navbar{
    background-image: linear-gradient(to right,#111 70%,#eee);
}
.hr1{
    border-radius: 50%;
    width: 50%;
    background: linear-gradient(to left, red, black, red);
    height: 5px;
    margin: auto;
}
.hr2{
    width: 40%; 
    border: white dashed 1px;
    margin: 15px 410px;
    height: 1px;
}
.hr3{
    width: 25%;
    border: white dashed 1px;
    height: 1px;
    margin: 15px 490px;
}
.navbar-brand img{
    width: 50px;
    margin: 0px;
    padding: 0px;
}
.navbar ul a{
color: white !important;
transition: all 0.5s;
margin: 0px 10px;
font-size: 20px;
font-weight: 400;
}
.navbar ul a:hover{
    border-radius: 20px;
    text-decoration: underline;
    background-color: white;
    color: black !important;
    font-family: 'Roboto Mono', monospace;
}
body{
    height: 2100px;
    background-color: rgb(0, 0, 0);
    color: white;
}
section{
    background-image: linear-gradient(to right,#111 70%,#eee);
}
.buttoncontainer{
    margin: auto;
    border: 5px black solid;
    border-radius: 20px;
    width: 50%;
}
form{
    padding: 10px 0px;
}
.btn1{
    background-color: black;
    border: 1px black dashed;
    color: white;
    margin: 0;
    padding:0;
}
.btn1:hover{
   text-decoration: underline;
   background-color: black;
   border: 1px black dashed;
   color: white;
}
html{
    scroll-behavior: smooth;
}
#GallaryID img{
    width: 100%;
    height: 100%;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid white;
}
#GallaryID .buttoncontainer .btn-group{
    margin: 20px auto;
    width: 100%;
    background-color: #444;
    border-radius: 50%;
}